body {
  margin: 0;
  padding: 0;
}

div.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.product {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 600px;
  border: 2px solid rgb(108, 108, 108);
  background-color: rgb(231, 231, 231);
  margin: 0;
  padding: 0;
}

.product-description {
  margin: 0;
  padding: 0;
}

.product-price {
  color: rgb(253, 118, 163);
  font-weight: 800;
  font-size: 22px;
}
